<form name="form">

    <h3>Time
        <small> related inputs</small>
    </h3>

    <hr>

    <!-- Year -->
    <div ng-class="{'has-success':form.year.$touched && form.year.$valid, 'has-error': form.year.$touched && !form.year.$valid}"
         class="form-group has-feedback">

        <label class="control-label">Year</label>
        <input type="text"
               name="year"
               ng-model="exam.time.year"
               ng-pattern="/^[0-9]{4}$/"
               ng-trim="true"
               ng-enter="form.$valid && next('calc2')"
               ng-required="true"
               class="form-control input-lg"
               placeholder="Enter the current year">

        <div ng-show="form.year.$touched" class="form-control-feedback">
            <span ng-show="form.year.$valid" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="form.year.$valid" class="glyphicon glyphicon-remove"></span>
        </div>
        <p class="help-block" ng-show="form.year.$touched && form.year.$error.pattern">Invalid.</p>

        <p class="help-block" ng-show="form.year.$touched && form.year.$error.required">This field is required.</p>

    </div>


    <!-- Day -->
    <div ng-class="{'has-success':form.day.$touched && form.day.$valid, 'has-error': form.day.$touched && !form.day.$valid}"
         class="form-group has-feedback">

        <label class="control-label">Day</label>
        <select name="day"
               ng-model="exam.time.day"
               ng-enter="form.$valid && next('calc2')"
               ng-required="true"
               class="form-control input-lg"
                ng-options="item as item for item in shared.days">

            <option value="" disabled>Choose Day</option>
        </select>

        <div ng-show="form.day.$touched" class="form-control-feedback">
            <span ng-show="form.day.$valid" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="form.day.$valid" class="glyphicon glyphicon-remove"></span>
        </div>
        <p class="help-block" ng-show="form.day.$touched && form.day.$error.pattern">Invalid.</p>

        <p class="help-block" ng-show="form.day.$touched && form.day.$error.required">This field is required.</p>

    </div>

    <!-- month -->
    <div ng-class="{'has-success':form.month.$touched && form.month.$valid, 'has-error': form.month.$touched && !form.month.$valid}"
         class="form-group has-feedback">

        <label class="control-label">Month</label>
        <select name="month"
                ng-model="exam.time.month"
                ng-enter="form.$valid && next('calc2')"
                ng-required="true"
                class="form-control input-lg"
                ng-options="item for item in shared.months">

                <option value="" disabled>Choose Month</option>
        </select>

        <div ng-show="form.month.$touched" class="form-control-feedback">
            <span ng-show="form.month.$valid" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="form.month.$valid" class="glyphicon glyphicon-remove"></span>
        </div>
        <p class="help-block" ng-show="form.month.$touched && form.month.$error.pattern">Invalid.</p>

        <p class="help-block" ng-show="form.month.$touched && form.month.$error.required">This field is required.</p>

    </div>

    <!-- Season -->
    <div ng-class="{'has-success':form.season.$touched && form.season.$valid, 'has-error': form.season.$touched && !form.season.$valid}"
         class="form-group has-feedback">

        <label class="control-label">Season</label>
        <select name="season"
                ng-model="exam.time.season"
                ng-enter="form.$valid && next('calc2')"
                ng-required="true"
                class="form-control input-lg"
                ng-options="item for item in shared.seasons">

            <option value="" disabled>Choose Season</option>
        </select>

        <div ng-show="form.season.$touched" class="form-control-feedback">
            <span ng-show="form.season.$valid" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="form.season.$valid" class="glyphicon glyphicon-remove"></span>
        </div>
        <p class="help-block" ng-show="form.season.$touched && form.season.$error.pattern">Invalid.</p>

        <p class="help-block" ng-show="form.season.$touched && form.season.$error.required">This field is required.</p>

    </div>

</form>

<button ng-click="form.$valid && next('calc2')"
        ng-class="{'disabled btn-default': !form.$valid, 'btn-primary': form.$valid}"
        class="btn btn-lg pull-right">Next
</button>

<div class="clearfix"></div>