<div class="container">
    <div class="paper col-md-push-2 col-md-8">

        <button class="btn btn-default" ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span></button>

        <div ng-switch="stage">

            <div ng-switch-default>
                <h3>Oops!
                    <small>unknown exam stage</small>
                </h3>

                <a href="#/" class="btn btn-primary pull-right">Return</a>
            </div>

            <div ng-switch-when="start">
                <ng-include src="'/static/views/exam.start.html'"></ng-include>
            </div>

            <div ng-switch-when="time">
                <ng-include src="'/static/views/exam.time.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

