<form name="form" ng-init="next = '/exam/place'">

    <h3>Nouns</h3>

    <hr>


    <div ng-show="exam.noun.source">
        <p>This step is done. <a href ng-click="exam.noun.source = undefined;">click here</a> if you still wish to do it again</p>
    </div>

    <div ng-hide="exam.noun.source">
        <mmse-noun ng-model="exam.noun.source" ng-required="true"></mmse-noun>
    </div>


</form>

<button ng-click="form.$valid && shared.go(next)"
        ng-class="{'disabled btn-default': !form.$valid, 'btn-primary': form.$valid}"
        class="btn btn-lg pull-right">Next
</button>

<div class="clearfix"></div>