<div class="container">
    <div class="paper col-md-push-2 col-md-8">

        <div ng-switch="stage">

            <div ng-switch-default>
                <h1>Oops!
                    <small>unknown exam stage</small>
                </h1>
            </div>

            <div ng-switch-when="start">
                <ng-include src="'/static/views/exam.start.html'"></ng-include>
            </div>

            <div ng-switch-when="time">
                <ng-include src="'/static/views/exam.time.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

