<form name="form" >

    <h3>Let's Start!
        <small> fill in the form below</small>
    </h3>

    <hr>

    <div ng-class="{'has-success':form.id.$touched && form.id.$valid, 'has-error': form.id.$touched && !form.id.$valid}"
         class="form-group has-feedback">

        <label class="control-label">Id</label>
        <input type="text"
               name="id"
               ng-model="exam.id"
               ng-pattern="/^[0-9]{4,10}$/"
               ng-trim="true"
               ng-enter="form.$valid && next('calc1')"
               ng-required="true"
               class="form-control input-lg"
               placeholder="Enter your id">

        <div ng-show="form.id.$touched" class="form-control-feedback">
            <span ng-show="form.id.$valid" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="form.id.$valid" class="glyphicon glyphicon-remove"></span>
        </div>
        <p class="help-block" ng-show="form.id.$touched && form.id.$error.pattern">Invalid.</p>

        <p class="help-block" ng-show="form.id.$touched && form.id.$error.required">This field is required.</p>

    </div>

    <div ng-class="{'has-success':form.name.$touched && form.name.$valid, 'has-error': form.name.$touched && !form.name.$valid}"
         class="form-group has-feedback">

        <label class="control-label">Full name</label>
        <input type="text"
               name="name"
               ng-model="exam.name"
               ng-pattern="/^([ \u00c0-\u01ffa-zA-Z'\-])+$/"
               ng-trim="true"
               ng-enter="form.$valid && next('calc1')"
               ng-required="true"
               class="form-control input-lg"
               placeholder="Enter your full name">

        <div ng-show="form.name.$touched" class="form-control-feedback">
            <span ng-show="form.name.$valid" class="glyphicon glyphicon-ok"></span>
            <span ng-hide="form.name.$valid" class="glyphicon glyphicon-remove"></span>
        </div>
        <p class="help-block" ng-show="form.name.$touched && form.name.$error.pattern">Invalid.</p>

        <p class="help-block" ng-show="form.name.$touched && form.name.$error.required">This field is required.</p>

    </div>
</form>

<button
        ng-click="form.$valid &&  next('calc1')"
        ng-class="{'disabled btn-default': !form.$valid, 'btn-primary': form.$valid}"
        class="btn btn-lg pull-right">Next
</button>

<div class="clearfix"></div>