<div class="container">
    <div class="paper col-md-push-2 col-md-8">

        <button class="btn btn-link" ng-click="back()"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>

        <div ng-hide="isValidStage">
            <h3>Oops!
                <small>unknown exam stage</small>
            </h3>

            <a href="#/" class="btn btn-primary pull-right">Return</a>
        </div>

        <div ng-if="isValidStage">
            <ng-include src="'/static/views/exam.' + stage + '.html'"></ng-include>
        </div>

    </div>
</div>

