<div class="container">

    <div class="paper">

        <h2  style="margin-top: 5px; margin-bottom: 20px">Mini Mental State Examination</h2>
        <p>
            The MMSE test includes simple questions and problems in a number of areas: the time and place of the test, repeating lists of words, arithmetic such as the serial sevens, language use and comprehension, and basic motor skills
        </p>

        <div style="margin-top: 20px">

        <button class="btn btn-primary btn-lg pull-right" ng-click="shared.go('/exam/start')">Let's Start</button>
        </div>


        <div class="clearfix"></div>
    </div>

</div>