<div class="container">

    <div class="paper" style="margin-bottom: 20px">

        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <img src="/static/img/mmse.png" class="img-responsive">
            </div>
            <div class="col-sm-8">

                <h2 style="margin-top: 5px; margin-bottom: 20px">Graphic Reports</h2>

                <p>
                    The MMSE app provides a fancy report highlighting the mismatches
                </p>

                <div style="margin-top: 20px">

                    <button class="btn btn-primary btn-lg pull-right" ng-click="shared.go('/exam/start')">Let's Start</button>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-sm-8">

                <h2 style="margin-top: 5px; margin-bottom: 20px">History</h2>

                <p>
                    The MMSE app includes simple questions and problems in a number of areas: the time and place of the test, repeating lists of words, arithmetic such as the serial sevens, language use and comprehension, and basic motor skills
                </p>

            </div>
            <div class="col-sm-4 hidden-xs">
                <img src="/static/img/mmse2.png" class="img-responsive">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <img src="/static/img/mmse3.png" class="img-responsive">
            </div>
            <div class="col-sm-8">

                <h2 style="margin-top: 5px; margin-bottom: 20px">Step by step</h2>

                <p>
                    The MMSE app will guide you through the exam with easy steps and non-exhausting procedures
                </p>

                <div style="margin-top: 20px">

                    <button class="btn btn-default btn-lg pull-right" ng-click="shared.go('/exam/start')">Let's Start</button>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>

